.login-container {
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.login-container-row {
  min-width:350px;
}
.login-title{
  color: #e21833;
  font-family: Roboto;
  Font-size:3rem;
  font-weight:600;
}

.login-label {
  color: #000;
  font-family:Roboto;
  font-size:1rem;
  margin-bottom:0.25rem!important;
}
.login-button {
  background-color: rgb(226, 24, 51);
  color:#fff;
  font-family:Roboto;
  font-size:1rem;
  border:none
}
.login-button:hover, .login-button:active, .login-button:focus-visible,.login-button:focus, .login-button:disabled {
  background-color:rgba(226,24,51,0.7)!important;
}

.login-toggle {
  text-decoration: underline;
  cursor:pointer;
}

.login-info-success {
color:rgb(12, 139, 12);
}

.login-info-error {
  color: rgb(226, 24, 51);
}