@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root{
    --panera_green:rgb(104, 111, 18);
    --panera_dark_green:rgb(87, 108, 29);
    --panera_yellow:#ECD283;
    --panera_brown: rgb(48, 9, 0);
    --panera_white:#fff;
    --panera_light_green: rgb(224, 235, 96);
    --panera_black:#000;
}
.Panera_navbar {
    background-color: var(--panera_white);
    opacity:1;
    margin-bottom:0!important;
    box-shadow: 0 4px 6px -6px var(--panera_dark_green);
}
.Panera_navbar_brand {
    font-size:20px;
    font-weight:900;
    color: var(--panera_white);
    opacity:0.9;
    font-family:'Roboto';
}

.Panera_navbar_toggle {
    background-color: var(--panera_white);
    opacity: 1;
    border:none;
}

.Panera_navbar_toggle:focus {
    box-shadow: none;
    outline:none;
}

.Panera_navbar_offcanvas {
    background-color:var(--panera_white)
}

.Panera_navbar_offcanvas_header {
    font-family: Roboto;
    font-weight:600;
    font-size:1.2rem;
    line-height: 1.75rem;
    text-align: center;
    background-color: var(--panera_white);
    box-shadow: 0 4px 6px -6px var(--panera_dark_green);
}

.Panera_navbar_offcanvas_body {
    justify-content:space-between;
    padding-right:0rem!important;
    display:flex;
    flex-direction: column;

}
.Panera_navbar_offcanvas_body_nav {
    padding-top:0.5rem;
    margin-left:0.5rem;
    padding-bottom:0.5rem;
    font-family:Roboto;
    font-weight:900!important;
    font-size:1.8rem;
    line-height:2.8rem;
    text-align:left;
    color:var(--panera_dark_green);
    border-radius:0.5rem;
}

.Panera_navbar_offcanvas_body_active {
    /* color:var(--panera_black); */
    text-decoration: underline;
}
.Panera_navbar_offcanvas_body_nav:active {
    color:var(--panera_black);
}
.Panera_navbar_offcanvas_body_nav:focus {
    color:var(--panera_black);
}
.Panera_navbar_offcanvas_body_nav:hover {
    color:var(--panera_green);
}

.Panera_offcanvas_logout_container {
    display:flex;
    justify-content: flex-end;
    width:100%;
}

.Panera_username { 
    padding-top:0.5rem;
    margin-left:0.5rem;
    padding-bottom:0.5rem;
    font-family:Roboto;
    font-weight:900!important;
    font-size:2.2rem;
    line-height:2.8rem;
    text-align:left;
    color:var(--panera_dark_green);
    border-radius:0.5rem;
}
.Panera_logout_button { 
    padding-top:0.5rem;
    margin-left:0.5rem;
    padding-bottom:0.5rem;
    font-family:Roboto;
    font-weight:900!important;
    font-size:2.2rem;
    line-height:2.8rem;
    text-align:left;
    color:rgba(226,24,51,1.0);
    border-radius:0.5rem;
    cursor:pointer;
}